.header {
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.right {
  text-align: right;
  margin: auto;
}

.center {
  align-self: center;
  text-align: center;
  margin: auto;
}
